.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.ct-chart {
  width: 100%;
  height: 100%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.ct-line {
  stroke-width: 5px;
  /*stroke-dasharray: 10px 20px;*/
}
.ct-point {
  stroke-width: 20px;
  stroke-linecap: square;
}

.label-postgraphile,
.series-postgraphile .ct-point,
.series-postgraphile .ct-line {
  stroke: purple;
  color: purple;
}

.label-postgraphile-next,
.series-postgraphile-next .ct-point,
.series-postgraphile-next .ct-line {
  stroke: #ec00e1;
  color: #ec00e1;
}

.label-prisma,
.series-prisma .ct-point,
.series-prisma .ct-line {
  stroke: blue;
  color: blue;
}

.App .ct-label.ct-horizontal.ct-end {
  transform: translate(-50%,0);
  display: inline-block;
  text-align: center;
}
.App .ct-label.ct-vertical.ct-start {
  box-sizing: border-box;
  transform: translate(0, 50%);
  padding-top: calc(50% - 0.5em);
  display: inline-block;
  text-align: right;
}

.ct-tooltip {
  position: absolute;
  display: inline-block;
  min-width: 5em;
  padding: 8px 10px;
  background: #383838;
  color: #fff;
  text-align: center;
  pointer-events: none;
  z-index: 100;
  transition: opacity .2s linear;
}
.ct-tooltip:before {
  position: absolute;
  bottom: -14px;
  left: 50%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  pointer-events: none;
  border-color: rgba(251, 249, 228, 0);
  border-top-color: #383838;
  border-width: 7px;
  margin-left: -8px;
}
.ct-tooltip:.hide {
  display: block;
  opacity: 0;
  visibility: hidden;
}

.label-postgraphile,
.label-postgraphile-next,
.label-prisma {
  text-shadow: 1px 1px white;
}
